body {
  border: 1px dotted tomato;
  box-sizing: border-box;
  border-width: 0 1px;
  font-family: "Luckiest Guy", cursive;
  font-size: 2rem;
  margin: 0 auto;
  max-width: 700px;
  min-height: 100vh;
  padding: 4rem;
}

ul {
  padding: 0;
}

ul li {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.done {
  text-decoration: line-through;
}

.newtodo {
  display: inline-block;
  font-size: 20px;
  color: grey;
  font-family: "Luckiest Guy", cursive;
}

#title {
  justify-content: center;
}

.input-box {
  width: 400px;
  height: 30px;
  font-family: "Luckiest Guy", cursive;
  font-weight: 100;
}

.new-tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
